# faster builds on new travis setup not using sudo
sudo: false

language: php

php:
  - 5.6
  - 7.0
  - 7.1

branches:
  only: master

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer self-update && composer --version
  - travis_retry composer install --prefer-dist --no-interaction

script:
  - composer validate --no-check-lock
  - vendor/bin/phpunit

after_success:
  - bash <(curl -s https://codecov.io/bash)
